---
title: Заголовок нового сайта
body_class: main
---
.container
  .content
    .row
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1
      .col-md-1 1